body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

button {
    padding: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

h3,
h4 {
    margin-bottom: 0;
}

nav {
    border-bottom: 4px solid black;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(180, 180, 180);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 16px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 16px 32px;
}

nav a:hover {
    background: black;
    color: white;
}

#page-body {
    max-width: 1000px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin: auto;
    padding-top: 64px;
}

.Collapsible {
    background-color: rgb(177, 177, 177);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
}

.active,
.Collapsible:hover {
    background-color: rgb(131, 131, 131);
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #d8d8d8;
}

.infoheader {
    background-color: #414141;
}

.content-deals {
    background-color: rgb(219, 219, 219);
    width: 100%;
    height: 200px;
}

.Dashboard {
    background-color: rgb(59, 59, 59);
    height: 56px;
    color: white;
    width: 100%;
    text-align: center;
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.style {
    width: 90vw;
    height: 90vh;
    text-align: center;
    padding-top: calc(50vh - 50px);
    margin-left: 5vw;
    border: 4px double #F00;
    background-color: #000;
}

.style p {
    color: #fff;
    font-size: 50px;
}

.contentbox {
    background-color: rgb(179, 179, 179);
    color: rgb(75, 75, 75);
    font-size: 14px;
    text-align: left;
    padding: 8px;
}

.scrollable {
    height: 100px;
    overflow-y: scroll;
    height: 300px;
}

.dealsbtn {
    width: 100%;
    background-color: rgb(98, 98, 98);
    font-size: 18px;
}

.namestyle {
    position: relative;
    animation: mymove 1.9s;
    z-index: -1;
}

@keyframes mymove {
    from {
        left: -200px;
    }
    to {
        left: 0px;
    }
}

.form {
    background: #ececec;
    padding: 7px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    border-right: 2px solid;
    border-bottom: 2px solid;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #959595;
}

input:focus {
    border-bottom: 2px solid #b3b2b2
}

p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #3c3c3d
}

span {
    margin: 0 5px 0 15px
}

.infohelp {
    height: 56px;
    color: rgb(34, 34, 34);
    width: 100%;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.infostyle {
    animation: mymove 1.9s;
    z-index: -1;
    position: relative;
}